{% extends 'page/page.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %} 

{% block pageContent %}

<div class="swiper" style="width: 600px; height: 300px; margin: 0 auto;">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
{% endblock %}